<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="website icon" type="png" href="../icon.png" sizes="30px">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <title>Pessoa | Cadastro</title>
</head>

<body>
    <div class="container">
        <div class="form-image">
            <img src="assets/img/imagem.png" alt="">
        </div>
        <div class="form"> 
            <div class="form-header">
                    <div class="title">
                        <h1 style="color: black;">Cadastre-se</h1>
                    </div>
                    <div class="login-button">
                        <button><a href="../loginGrow/index.html">Entrar</a></button>
                    </div>
                </div>
            <form action="javascript:void(0)">
               
                <div class="teste">
                    <div class="input-group">
                        <div class="input-box required">
                            <label for="firstname">Nome<span class="asterisco">*</span></label>
                            <input id="firstname" type="text" name="firstname" placeholder="Digite seu primeiro nome" required>
                        </div>

                        <div class="input-box required">
                            <label for="lastname">Sobrenome<span class="asterisco">*</span></label>
                            <input id="lastname" type="text" name="lastname" placeholder="Digite seu sobrenome" required>
                        </div>
                        <div class="input-box required" >
                            <label for="dataNascimento" >Data de Nascimento<span class="asterisco">*</span></label>
                            <p class="descricao">Insira apenas números</p>
                            <input id="dataNascimento" type="date" name="dataNascimento" placeholder="" max="2006-12-31" min="1900-01-01" required onblur="validarData()">
                            <span id="mensagemData" class="mensagemErro"></span>
                        </div>

                        <div class="input-box required">
                            <label for="cpf">CPF<span class="asterisco">*</span></label>
                            <p class="descricao">Insira apenas números</p>
                            <input id="cpf" onchange="validateCPF(this)" oninput="formatarCPF(this)" type="text" name="cpf" placeholder="Digite apenas Números" maxlength="14" required>
                            <span class="mensagemErro" id="mensagemCPF"></span>
                        </div>

                        <div class="input-box required">
                            <label for="email">E-mail<span class="asterisco">*</span></label>
                            <input id="email" type="email" name="email" placeholder="Insira seu E-mail" required>
                            <span class="mensagemErro" id="mensagememail"></span>
                        </div>


                        <div class="input-box">
                            <label for="confirmaremail">Confirmar E-mail<span class="asterisco">*</span></label>
                            <input id="confirmaremail" type="email" name="confirmaremail" placeholder="Digite seu E-mail novamente" required>
                        </div>


                        <div class="input-box">
                            <label for="confirmTelefone">Telefone</label>
                            <p class="descricao">Insira apenas números</p>
                            <input id="confirmTelefone" oninput="formatarTEL(this)" type="tel" name="confirmTelefone" placeholder="(00) 0000-0000" maxlength="14" required>
                            <span class="mensagemErro" id="mensagemtelefone"></span>
                        </div>


                        <div class="input-box required">
                            <label for="confirmCelular">Celular<span class="asterisco">*</span></label>
                            <p class="descricao">Insira apenas números</p>
                            <input id="confirmCelular" oninput="formatarCEL(this)" type="tel" name="confirmCelular" placeholder="(00) 00000-0000" maxlength="15" required>
                            <span class="mensagemErro" id="mensagemcelular"></span>
                        </div>

                        <div class="input-box required">
                            <div class="gender-inputs">
                                <div class="gender-title">
                                    <h6>Gênero<span class="asterisco">*</span></h6>
                                </div>
    
                                <div class="gender-group">

                                    <select name="" id="genero" class="select">
                                        <option value="" selected>Escolha uma Opção de Gênero</option>
                                        <option value="M">Masculino</option>
                                        <option value="F">Feminino</option>
                                        <option value="O">Outro</option>
                                    </select>
                          
                                </div>
                            </div>
                        </div>
                           
                    </div>

                    <div class="input-box required">
                        <div class="gender-inputs">
                            <div class="gender-title">
                                <h6>Estado Civil<span class="asterisco">*</span></h6>
                            </div>

                            <div class="gender-group">

                                <select name="" id="estadoCivil" class="select">
                                        <option value="" selected>Selecione seu Estado Civil</option>
                                        <option value="S">Solteiro</option>
                                    <option value="C">Casado</option>
                                    <option value="D">Divorciado</option>
                                    <option value="V">Viúvo</option>
                                </select>
                      
                            </div>
                        </div>
                    </div>

                    

                    <div class="input-group">
                        <div class="input-box">
                            <label for="cep">CEP<span class="asterisco">*</span></label>
                            <p class="descricao">Insira apenas números</p>
                            <input id="cep" type="text" name="cep" placeholder="00000-000" oninput="inputCEP(this)" required maxlength="9">
                            <span class="mensagemErro" id="mensagemCEP"></span>
                        </div>

                        <div class="input-box required">
                            <label for="estado">Estado<span class="asterisco">*</span></label>
                            <input id="estado" type="text" name="estado" placeholder="Insira seu Estado" required>
                        </div>
                        <div class="input-box required">
                            <label for="cidade">Cidade<span class="asterisco">*</span></label>
                            <input id="cidade" type="text" name="cidade" placeholder="Insira sua Cidade" required>
                        </div>

                        <div class="input-box required">
                            <label for="bairro">Bairro<span class="asterisco">*</span></label>
                            <input id="bairro" type="text" name="bairro" placeholder="Digite seu Bairro" required>
                        </div>
                        
                        <div class="input-box endereco required">
                            <label for="endereço">Endereço<span class="asterisco">*</span></label>
                            <input id="endereco" type="text" name="endereço" placeholder="Digite seu Endereço" required>
                        </div>

                        <div class="input-box numero required">
                            <label for="numero"><span class="asterisco"></span></label>
                            <input oninput="formatacao(this)" id="numero" type="text" name="numero" placeholder="Número" required>
                        </div>

                        <div class="input-box complemento">
                            <label for="complemento">Complemento</label>
                            <input id="complemento" type="text" name="complemento" placeholder="Complemento Opcional" required>
                        </div>

                        <div class="input-box required">
                            <label for="password">Crie uma Senha<span class="asterisco">*</span></label>
                            <p class="descricao">Deve ter 8 caracteres</p>
                            <input id="password" type="password" name="password" placeholder="Digite sua senha" required maxlength="8" minlength="8">
                        </div>


                        <div class="input-box">
                            <label for="confirmPassword">Confirme sua Senha<span class="asterisco">*</span></label>
                            <p class="descricao">Deve ser igual ao campo anterior</p>
                            <input id="confirmPassword" type="password" name="confirmPassword" placeholder="Digite sua senha novamente" required maxlength="8" minlength="8">
                        </div>

                    </div>
                    <div class="input-box required">
                        <div class="gender-inputs">
                            <div class="gender-title">
                                <h6>Como Soube do Site<span class="asterisco">*</span></h6>
                            </div>

                            <div class="gender-group">

                                <select name="" id="soubeSite" class="select">
                                        
                                    <option value="S">Redes Socias</option>
                                    <option value="C">Pessoa Conhecida</option>
                                    <option value="D">Anúncios na Internet</option>
                                </select>
                      
                            </div>
                        </div>
                    </div>
                </div>
                <div class="selecao">
                    <div class="required">
                        <p class="termos"> <input type="checkbox" style="accent-color: rgb(31, 151, 31); margin-right: 4px;" id="termos">Declaro que Li e Aceito todos os <a href="termosUso.html" class="linktermos">Termos e Condições de Uso</a><span style="color: red;">*</span></p>
                    </div>
                    <p class="termos"> <input type="checkbox" style="accent-color: rgb(31, 151, 31); margin-right: 4px;" id="receberEmails"> Aceito receber atualizações por E-mail</p>
                    <p class="termos"> <input type="checkbox" style="accent-color: rgb(31, 151, 31); margin-right: 4px;" id="notificacoes"> Aceito receber Notificações</p>
                </div>    
            </form>
            <div class="continue-button">
                    <button>Continuar</button>
            </div>
        </div>
    </div>
</body>

</html>
<script src="assets/Js/scriptFormatacao.js"></script>
<script src="assets/Js/scriptCep.js"></script>
<script src="assets/Js/index.js"></script>