<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="style.css">
	<link rel="website icon" type="png" href="../icon.png" sizes="30px">
	<script src="https://kit.fontawesome.com/b916edb840.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<body>
    <h2></h2>
<div class="container" id="container">
	<div class="form-container sign-up-container">
		<div style="margin: 10px; margin-left: 50px; margin-top: 35px;">
			<a href="../SiteGrow/index.html" class="social home"><i class="fa-solid fa-arrow-left" title="Início"></i></a>
		</div>
		<form action="javascript:void(0)">
			<h1>Criar Conta</h1>
			<div class="social-container">
				<a href="#" class="social facebook"><i class="fab fa-facebook-f"></i></a>
				<a href="#" class="social google"><i class="fa-brands fa-google"></i></a>
				<a href="#" class="social microsoft"><i class="fa-brands fa-microsoft"></i></a>

			</div>
			<span>Registre-se como</span>
			<button class="cadastro pessoa" onclick="linkPessoa()">Pessoa</button>
			<span>ou</span>
			<button class="cadastro empresa" onclick="linkEmpresa()">Empresa</button>

		</form>
	</div>
	<div class="form-container sign-in-container">
		<div style="margin: 10px; margin-left: 50px; margin-top: 35px;">
			<a href="../SiteGrow/index.html" class="social home"><i class="fa-solid fa-arrow-left" title="Início"></i></a>
		</div>
		<form action="javascript:void(0)">
			<h1>Login</h1>
			<div class="social-container">
				<a href="#" class="social facebook"><i class="fab fa-facebook-f"></i></a>
				<a href="#" class="social google"><i class="fa-brands fa-google"></i></a>
				<a href="#" class="social microsoft"><i class="fa-brands fa-microsoft"></i></a>

			</div>
			<span>ou use sua conta</span>
			<input type="email" id="email" placeholder="Email" />
			<span id="mensagemEmail" class="mensagemErro"></span>
			<input type="password" id="password" maxlength="8" placeholder="Senha" />
			<span id="mensagemSenha" class="mensagemErro"></span>
			<a href="esqueceuSenha.html" class="esqueceu" style="font-size: 14px;">Esqueceu a Senha?</a>
			<button class="entrar" id="entrar">Entrar</button>
		</form>
	</div>
	<div class="overlay-container">
		<div class="overlay">
			<div class="overlay-panel overlay-left">
				<h1>Já é GROW?</h1>
				<p style="margin-bottom: 0px;">Já realizou o seu cadastro?</p> <p style="margin-top: 2px;">Faça já seu login!</p>
				<button class="ghost" id="signIn">Entrar</button>
			</div>
			<div class="overlay-panel overlay-right">
				<h1>Seja GROW!</h1>
				<p style="margin-bottom: 0px;">Ainda não tem uma conta?</p> <p style="margin-top: 2px;">Cadastre-se já!</p>
				<button class="ghost" id="signUp">Cadastrar</button>
			</div>
		</div>
	</div>
</div>


</body>
</html>
<script src="script.js"></script>
